* {
    margin: 0px;
    padding: 0px;
}

#container {
    margin: auto;
    font-size: x-large;
    margin-top: 50px;
}

#menu {
    background-color: rgb(27, 73, 9);
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}

li a,
.drpbutton {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    min-width: 10px;
}

li a:hover,
.drpdown:hover {
    background-color: wheat;
}

li,
.drpdown {
    display: inline-block;
}

.drpcontent {
    display: none;
    position: absolute;
    background-color: rgb(8, 114, 13);
    min-width: 170px;
    z-index: 1;
}

.drpcontent a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.drpcontent a:hover {
    background-color: wheat;
}

.drpdown:hover .drpcontent {
    display: block;
}