* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 70%;
    max-width: 80%;
    margin: auto;
    font-size: x-large;
    margin-top: 50px;
}

#menu {
    background-color: rgb(148, 17, 17);
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
    min-width: 10px;
}

li a:hover {
    background-color: wheat;
}

li {
    display: inline-block;
}