*{
    margin: 0x;
    padding: 0px;
}
#container{
    width: 70%;
    max-width: 60%;
    margin: auto;
    padding-top: 20px;
    font-size: x-large;
    margin-top: 20px;
}
#border1{
    border: 2px solid black;
}
#border2{
    border-bottom: 2px solid red;
}
#border3{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
} 
#border4{
    border-left: 6px solid blue;
    background-color: aqua;
}